# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# PostgreSQL Database 

DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="nibbles"
DB_PORT="5432"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"


GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/google/callback"
GOOGLE_CLIENT_ID="1054514268037-8ftrjva5bdb3tns5e3h9mupksgqgq3jo.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CLIENT_ID_ANDROID="1054514268037-1do6vf90m6iht81odophlcmn9pkp9mht.apps.googleusercontent.com"
GOOGLE_CLIENT_ID_IOS="1054514268037-m5797qhoes139be9tbph112nv1dseif6.apps.googleusercontent.com"

MAIL_USER="findingNibbles@gmail.com"
MAIL_PASS="rxeytaebgobniots"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"

AUTH_SECRET="put-secret-here"
REFRESH_SECRET= "put-secret-here"
